.App {
  padding-top: 2rem;
  width: 95%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  min-height: 532px;
}

.submit {
  width: 100%;
  border: none;
  outline: none;
  padding: 0.7rem 0;
  border-radius: 5px;
  font-size: 16px;
  background-color: #6cde5f;
  color: white;
  margin-top: 0.5rem;
  cursor: pointer;
}

.submit:disabled,
.submit[disabled] {
  background-color: #50a946;
  color: rgb(224, 224, 224);
  cursor:no-drop;
}

@media(min-width: 1024px){
  .App {
    display: flex;
    justify-content: space-between;
  }
}